.hbox {
    -fx-background-color: goldenrod;
    -fx-spacing: 10;
    -fx-padding: 15;
    -fx-alignment: center;
}

.text-title {
    -fx-font-smoothing-type: lcd;
    -fx-fill: ghostwhite;
    -fx-font-size: 10pt;
    -fx-font-family: "Arial Black";
    -fx-alignment: center;
}

.choice-box {
    -fx-background-color: mediumslateblue;
    -fx-mark-color: orange;
    -fx-pref-width: 100px;
    -fx-pref-height: 20px;
    -fx-background-radius: 10;
}

.choice-box > .label {
    -fx-text-fill: ghostwhite;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 10pt;
    -fx-alignment: center;
}